
hr {
    margin: 0;
}

.rodape {
    background-color: var(--branco);
    padding: 1em 0 1em 1em;
}

.rodape__titulo {
    color: #000000;
}

.lista-rodape {
    display: none;
}

@media screen and (min-width:1024px) {
    .rodape {
        display: flex;
        justify-content: space-around;
    }

    .lista-rodape {
        display: block;
    }

    .rodape__titulo {
        font-size: 24px;
        color: var(--preto);
    }

    .lista-rodape__titulo {
        font-size: 14px;
        color: var(--cinza-claro);
    }

    .lista-rodape-item {
        display: flex;
        align-items: center;
        margin: 1em 0;
    }

    .lista-rodape__link {
        text-decoration: none;
        color: var(--cinza);
        font-size: 14px;
        margin-left: 0.5em;
    }

}

@media screen and (min-width: 1728px) {

    .rodape {
        padding: 2em;
    }

    .lista-rodape {
        border-left: 1px solid var(--cinza-claro);
        padding-left: 3em 0;
    }
}